@font-face {
    font-family: 'Durik';
    src: url('../fonts/Durik.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UltramonoWide';
    src: url('../fonts/UltramonoWide-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}